*{box-sizing: border-box;}

body{
    display: flex;
    justify-content: space-evenly;
    margin-top: 8em;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
}

.dailyTask{
    background-color: rgb(185, 185, 238);
    width: 700px;
    padding: 0 10px;
    border-radius: 5px;
}

.row{
    margin-bottom: 10px;
    display: flex;
}

.row-label{
    flex-basis: 30%;
}

.row-input{
    flex-basis: 70%;
}

h1, p{
    text-align: center;
}

#btn-save{
    background-color: rgb(126, 126, 223);
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline: none;
}

#btn-save:hover{
    cursor: pointer;
}

#btn-save:active{
    background-color:  rgb(86, 86, 226);
    transform: translateY(4px);
}

input[type]{
    height: 26px;
    border: none;
    border-radius: 5px;
    outline-color: rgb(126, 126, 223);
}

.dailyTaskTable{
    background-color: rgb(185, 185, 238);
    width: 700px;
    margin-top: 3em;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.btn{
    background-color: rgb(126, 126, 223);
    border-radius: 5px;
    margin-left: 10px;
    width: 40px;
    border: none;
    float: right;
}

tr:nth-child(odd){
    background-color: rgb(157, 157, 206);
}
td{
    padding: 6px 10px;
}

.task{width: 70%;}


