@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{box-sizing: border-box;}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

section{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    border-bottom: 1px solid #b677d4; 
    background-color: #ffffff; 
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

#about{
    text-align: center;
    background-color: #81F0A3;
}

.main-header{
    padding: 0 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 100px;
    height: 100px;
}

.nav-btn > div{
    width: 30px;
    height: 4px;
    background-color:  #81F0A3;
    margin: 6px 0;
}

.navigation {
    height: 0;
    overflow: hidden;
}

.navigation ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}
  
.navigation li{
    margin-right: 2px;
    list-style-type: none;
}

.navigation a{
    color: #000000;
    text-decoration: none;
    background-color: #ffffff;
    padding: 4px;
    border-radius: 0px;
    display: inline-block;
    width: 100%;
}

.navigation a:hover{
      background-color: #07dd47;
}

.show-navigation {
    height: 10rem;
}

#ourservice{background-color: #faf6f6;}

.ourservice{
    padding: 0 20px;
}

.service{
    flex-basis: 30%;
    padding: 20px;
    margin-top: 25px;
    background-color:#81F0A3;
    border-radius: 10px;
}

#projects{
    border-bottom: 2px solid #b677d4; 
}

h2{
    color: #b677d4;
}

.item{
    padding: 0 20px;
}

#contact{background-color: #faf6f6;;}

.contact{
    align-self: flex-end;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 50vh;
    background-color: #777676;
}

.icon{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.icon img{
    width: 40px;
    height: 40px;
}

.icon a:hover img{
    width: 55px;
    height: 55px; 
}

.theIcon{
    display: none;
}

@media(min-width: 600px){
    
   .header{
       padding: 0 20px;
       display: flex;
       align-items: center;
       justify-content: space-between;
   }
   
   .main-header{
        padding: 0px;
    }

    .navigation {
        height: auto;
    }

   .navigation ul{
        flex-direction: row;
    }

   .navigation a{
        padding: 4px;
        border-radius: 4px;
        display: block;
   }

   .nav-btn{
       display:none;
   }

   .ourservice{
       display: flex;
       justify-content: space-between;
   }
}

