#header{
    margin-bottom: 50px; 
    background: powderblue;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
body{
    background: #e6f5ff;
}
a{
	text-decoration: none;
}

li{
    display: inline;
}

#form{
   text-align: center;
   padding-bottom: 2px;
}

#send{
    border: 2px powderblue solid;
    padding: 8px;
    border-radius: 4px;
    background: green;
}

input[type="email"]{
	font-size: 20px;
	border-radius: 4px;
    border-color: #008ae6;
}


#productVideo{
background: green;
}
iframe{
    background: powderblue;
}

.productInfo{
    margin-top: 120px;
}

.product{
    text-align: justify;
    padding: 8px;
}

iframe{
    display: block;
    margin: auto;
    margin-bottom: 50px;
}

.item{
    border: 2px green solid;
    border-radius: 6px;
    padding: 8px;
    margin-bottom: 20px;
    flex-basis: 30%;
}

button{
	margin: auto;
	display: block;
	width: 90%;	
	border: none;
	padding: 8px;
    background: green;
}

@media(min-width: 600px){
	.itemInfo{
        display: flex;
        justify-content: space-between;
    }
}