body{
    background: #f2f2f2;
}
#header{
    position: sticky;
    background-color: #37a0ae;
    text-align: center;
    top: 0;
}

#header h1{
    padding: 4px 10px;
    margin-top: 0px;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color: black;
}


.nav-link :hover{
    padding: 4px;
    text-transform: uppercase;
    border-radius: 2px;
}

li{
    display: inline;
}

#form{
   text-align: center;
   padding-bottom: 2px;
}

#send{
    padding: 2px 4px;
    border-radius: 4px;
}

input[type="email"]{
	border-radius: 4px;
}

#about{
   width: 70%;
   margin: auto;
}

#skills{
	width: 75%;
    margin: auto;
   
}

.skillType{
	text-align: justify;	
    padding: 8px;
    border-bottom: 2px solid #37a0ae;
}

#aboutVideo{
	font-size: 25px;
	color: #37a0ae;
}
#videoContainer{
   padding: 10px;
   text-align: center;
   font-style: oblique;
   font-size: 19px;
}

iframe{
    display: block;
    margin: auto;
}

.item{
    border: 2px #b0e0e6 solid;
    border-radius: 6px;
    padding: 8px;
    flex-basis: 30%;
    margin-bottom: 20px;
    background-color: #b0e0e6;
}

.item h3{
    border-bottom: 2px #37a0ae solid;
    margin-top: 0px;
}

button{
	margin: auto;
	display: block;
	width: 90%;	
	border: none;
    padding: 8px;
    background-color: #37a0ae;
}

#footer{
    background-color: #37a0ae;
    padding: 10px;
    text-align: center;
}

@media(min-width: 700px){
	#projects{
        display: flex;
        justify-content: space-between;
    }
}