@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: 'Merriweather', serif;
    font-size: 1.4em;
    background-color: #66ff99;
}

h1, p{
  text-align: center;
}

#survey-form{
  width: 90%;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
  background-color: #07c747;
}

label{
  display: block;
  padding: 10px 0px;
}

textarea, #name, #email, #number, #submit,
#dropdown{
  width: 100%;
  font-size: 0.8em;
}

textarea{
  margin: 0;
  height: 50px;
}

#submit{
  height: 30px; 
  border: none;
  border-radius: 10px;
  background-color:#66ff99;
  margin: 20px 0px 20px;
  font-weight: bold;
}

#submit:hover{
  background-color: #049e38;
  border: 2px solid #027428;
}

@media(min-width: 768px){
  #survey-form{
      width: 60%;
  }
}