body{
    background-color: powderblue;
}

.container{
    display: flex;
    margin: 20px 10px;
    width: 80%;
    margin: auto;
}

.item{
    border: 2px green solid;
}
.nav{
    flex: 1;
    border: 2px blue solid;
}

.main{
    padding: 5px;
    flex: 3;
}