@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    background-color: whitesmoke;
}

#main{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 12px;
}

a{
    color: #000000;
}

#img-div{
    background-color: white;
    border-radius: 10px;
    padding: 1px;
}

#image{
    width: 100%;
    border-radius: 10px;
}

#tribute-info ul{
    text-align: left;
    padding-left: 20px;
}

#quote{
    display: flex;
    background-color: rgb(231, 229, 229);
    border-radius: 15px;
    flex-direction: column;
}

q{
    padding: 5px;
}

#developer-img{
    border-radius: 15px;
    width: 50%;
    border-radius: 50%;
    height: auto;
    padding-top: 20px;
}

@media(min-width: 640px){
    #quote{
        flex-direction: row;
    }

    #developer-img{
        border-radius: 15px;
        max-width: 200px;
        order: 1;
        padding-top: 0px;
    }

    q{
        order: 2;
    }
    
}
